<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
</head>
<body>
<table>
    <tr><td><button id="selectAll">查询所有人信息</button></td></tr>
    <tr><td><button id="select">查询单个人信息</button></td></tr>
    <tr><td><button id="insert">增加一个用户</button></td></tr>
    <tr><td><button id="delete">删除哟个用户</button></td></tr>
    <tr><td><button id="update">更新一个用户</button></td></tr>
<tr> <td><input type="text" id="text1" placeholder="请在这里输入用户ID"></td></tr>
<tr> <td><input type="text" id="text2" placeholder="请在这里输入用户名"></td></tr>
<tr> <td><input type="text" id="text3" placeholder="请在这里输入密码"></td></tr>
<tr> <td><input type="text" id="text4" placeholder="请在这里输入性别"></td></tr>
<tr> <td><input type="text" id="text5" placeholder="请在这里输入年龄"></td></tr>
<tr><td><input type="text" id="text6" placeholder="请在这里输入电话号码"></td> </tr>
<tr><td><input type="text" id="text7" placeholder="附加描述"></td></tr>
</table>
</body>
</html>