<?xml version="1.0" encoding="UTF-8"?>
<weixin:QiyeWeixin-config xmlns:weixin="aurora.plugin.weixin">
	<instances>	
			<weixin:QiyeWeixin-instance token="handhec" corpId="wxcda03c50212803f5" encodingAESKey="handhechandhechandhechandhechandhechandhec0" appName="hec"/>
	</instances>
	<tokenTasks>
			<weixin:QiyeToken-task  groupname="hec"  corpId="wxcda03c50212803f5" secrect="hY3GkeZeZ0LKsDGr3LXwoUYtQecPgFXIciKlUBkSZ8I-NfVxDmRM35YbU66cldw8"/>
	</tokenTasks>
</weixin:QiyeWeixin-config>