<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.EquipmentinfolistMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.model.Equipmentinfolist" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="equipment_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="equipment_location" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pressure" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="status00" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status01" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status02" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status03" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status04" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status05" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status06" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status07" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="hr_temp" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="press_tra_temp" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="press_tra_voltage" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="nbiot_voltage" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="status10" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status11" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status12" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status13" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status14" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status15" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status16" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="angle_of_inclination" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="createdate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="flag" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="equipmentid" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <!-- created by zhoujun on 2018/6/19-->
  <sql id="Base_Column_List" >
    id, equipment_no, equipment_location, pressure, status00, status01, status02, status03, 
    status04, status05, status06, status07, hr_temp, press_tra_temp, press_tra_voltage, 
    nbiot_voltage, status10, status11, status12, status13, status14, status15, status16, 
    angle_of_inclination, createdate, flag, equipmentid
  </sql>

  <!---->
  <!--黄泽东查找所有的数据-->
  <select id="sellectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from fce_equipmentinfolist
  </select>
  <!--黄泽东分页-->

  <select id="getList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from fce_equipmentinfolist
  </select>
  <select id="getCount" resultType="int" parameterType="String">
    select count(*) from fce_equipmentinfolist
  </select>




  <!--where equipmentid = #{equipmentid,jdbcType=BIGINT}-->
  <!--黄泽东关键字查找数据,测试用-->
  <select id="selectByKeyWord" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from fce_equipmentinfolist
    where   equipmentid = #{equid} and equipment_location like "%"#{keyword}"%"

  </select>

  <!--equipmentid = #{equid} and equipment_location like "%"#{keyword}"%"-->
<!--/*(
    status10 like concat("%", #{keyword},"%") or equipment_location  like concat("%", #{keyword},"%"))AND (equipmentid=#{equipmentid}
    )*/-->
  <!--/* where (
    id = #{keyword} or equipment_no= #{keyword} or equipment_location =keyword} or pressure =  #{keyword} or
    status00 = #{keyword} or  status01 = #{keyword} or status02 =#{keyword} or status03 like  "%"#{keyword}"%"            or
    status04 =#{keyword} or status05 =  #{keyword} or status06 = #{keyword} or  status07 = #{keyword} or
    hr_temp = #{keyword} or press_tra_temp =#{keyword} or press_tra_voltage =#{keyword}               or
    nbiot_voltage =  #{keyword} or status10 = #{keyword} or  status11 = #{keyword} or status12 = #{keyword} or status13= #{keyword}  or
    status14 =#{keyword} or status15 = #{keyword} or status16= #{keyword} or angle_of_inclination =#{keyword} or
    createdate = #{keyword} or flag= #{keyword}
    )and equipmentid = #{equipmentid}*/-->




  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from fce_equipmentinfolist
    where id = #{id,jdbcType=BIGINT}
  </select>
  <!--通过设备id查找-->
  <select id="selectByequipmentid" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from fce_equipmentinfolist
    where equipmentid = #{equipmentid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fce_equipmentinfolist
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.Equipmentinfolist" >
    insert into fce_equipmentinfolist (id, equipment_no, equipment_location, 
      pressure, status00, status01, 
      status02, status03, status04, 
      status05, status06, status07, 
      hr_temp, press_tra_temp, press_tra_voltage, 
      nbiot_voltage, status10, status11, 
      status12, status13, status14, 
      status15, status16, angle_of_inclination, 
      createdate, flag, equipmentid
      )
    values (#{id,jdbcType=BIGINT}, #{equipmentNo,jdbcType=VARCHAR}, #{equipmentLocation,jdbcType=VARCHAR}, 
      #{pressure,jdbcType=DECIMAL}, #{status00,jdbcType=VARCHAR}, #{status01,jdbcType=VARCHAR}, 
      #{status02,jdbcType=VARCHAR}, #{status03,jdbcType=VARCHAR}, #{status04,jdbcType=VARCHAR}, 
      #{status05,jdbcType=VARCHAR}, #{status06,jdbcType=VARCHAR}, #{status07,jdbcType=VARCHAR}, 
      #{hrTemp,jdbcType=DECIMAL}, #{pressTraTemp,jdbcType=DECIMAL}, #{pressTraVoltage,jdbcType=DECIMAL}, 
      #{nbiotVoltage,jdbcType=DECIMAL}, #{status10,jdbcType=VARCHAR}, #{status11,jdbcType=VARCHAR}, 
      #{status12,jdbcType=VARCHAR}, #{status13,jdbcType=VARCHAR}, #{status14,jdbcType=VARCHAR}, 
      #{status15,jdbcType=VARCHAR}, #{status16,jdbcType=VARCHAR}, #{angleOfInclination,jdbcType=DECIMAL}, 
      #{createdate,jdbcType=TIMESTAMP}, #{flag,jdbcType=INTEGER}, #{equipmentid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.Equipmentinfolist" >
    insert into fce_equipmentinfolist
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="equipmentNo != null" >
        equipment_no,
      </if>
      <if test="equipmentLocation != null" >
        equipment_location,
      </if>
      <if test="pressure != null" >
        pressure,
      </if>
      <if test="status00 != null" >
        status00,
      </if>
      <if test="status01 != null" >
        status01,
      </if>
      <if test="status02 != null" >
        status02,
      </if>
      <if test="status03 != null" >
        status03,
      </if>
      <if test="status04 != null" >
        status04,
      </if>
      <if test="status05 != null" >
        status05,
      </if>
      <if test="status06 != null" >
        status06,
      </if>
      <if test="status07 != null" >
        status07,
      </if>
      <if test="hrTemp != null" >
        hr_temp,
      </if>
      <if test="pressTraTemp != null" >
        press_tra_temp,
      </if>
      <if test="pressTraVoltage != null" >
        press_tra_voltage,
      </if>
      <if test="nbiotVoltage != null" >
        nbiot_voltage,
      </if>
      <if test="status10 != null" >
        status10,
      </if>
      <if test="status11 != null" >
        status11,
      </if>
      <if test="status12 != null" >
        status12,
      </if>
      <if test="status13 != null" >
        status13,
      </if>
      <if test="status14 != null" >
        status14,
      </if>
      <if test="status15 != null" >
        status15,
      </if>
      <if test="status16 != null" >
        status16,
      </if>
      <if test="angleOfInclination != null" >
        angle_of_inclination,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="equipmentid != null" >
        equipmentid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="equipmentNo != null" >
        #{equipmentNo,jdbcType=VARCHAR},
      </if>
      <if test="equipmentLocation != null" >
        #{equipmentLocation,jdbcType=VARCHAR},
      </if>
      <if test="pressure != null" >
        #{pressure,jdbcType=DECIMAL},
      </if>
      <if test="status00 != null" >
        #{status00,jdbcType=VARCHAR},
      </if>
      <if test="status01 != null" >
        #{status01,jdbcType=VARCHAR},
      </if>
      <if test="status02 != null" >
        #{status02,jdbcType=VARCHAR},
      </if>
      <if test="status03 != null" >
        #{status03,jdbcType=VARCHAR},
      </if>
      <if test="status04 != null" >
        #{status04,jdbcType=VARCHAR},
      </if>
      <if test="status05 != null" >
        #{status05,jdbcType=VARCHAR},
      </if>
      <if test="status06 != null" >
        #{status06,jdbcType=VARCHAR},
      </if>
      <if test="status07 != null" >
        #{status07,jdbcType=VARCHAR},
      </if>
      <if test="hrTemp != null" >
        #{hrTemp,jdbcType=DECIMAL},
      </if>
      <if test="pressTraTemp != null" >
        #{pressTraTemp,jdbcType=DECIMAL},
      </if>
      <if test="pressTraVoltage != null" >
        #{pressTraVoltage,jdbcType=DECIMAL},
      </if>
      <if test="nbiotVoltage != null" >
        #{nbiotVoltage,jdbcType=DECIMAL},
      </if>
      <if test="status10 != null" >
        #{status10,jdbcType=VARCHAR},
      </if>
      <if test="status11 != null" >
        #{status11,jdbcType=VARCHAR},
      </if>
      <if test="status12 != null" >
        #{status12,jdbcType=VARCHAR},
      </if>
      <if test="status13 != null" >
        #{status13,jdbcType=VARCHAR},
      </if>
      <if test="status14 != null" >
        #{status14,jdbcType=VARCHAR},
      </if>
      <if test="status15 != null" >
        #{status15,jdbcType=VARCHAR},
      </if>
      <if test="status16 != null" >
        #{status16,jdbcType=VARCHAR},
      </if>
      <if test="angleOfInclination != null" >
        #{angleOfInclination,jdbcType=DECIMAL},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="equipmentid != null" >
        #{equipmentid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.Equipmentinfolist" >
    update fce_equipmentinfolist
    <set >
      <if test="equipmentNo != null" >
        equipment_no = #{equipmentNo,jdbcType=VARCHAR},
      </if>
      <if test="equipmentLocation != null" >
        equipment_location = #{equipmentLocation,jdbcType=VARCHAR},
      </if>
      <if test="pressure != null" >
        pressure = #{pressure,jdbcType=DECIMAL},
      </if>
      <if test="status00 != null" >
        status00 = #{status00,jdbcType=VARCHAR},
      </if>
      <if test="status01 != null" >
        status01 = #{status01,jdbcType=VARCHAR},
      </if>
      <if test="status02 != null" >
        status02 = #{status02,jdbcType=VARCHAR},
      </if>
      <if test="status03 != null" >
        status03 = #{status03,jdbcType=VARCHAR},
      </if>
      <if test="status04 != null" >
        status04 = #{status04,jdbcType=VARCHAR},
      </if>
      <if test="status05 != null" >
        status05 = #{status05,jdbcType=VARCHAR},
      </if>
      <if test="status06 != null" >
        status06 = #{status06,jdbcType=VARCHAR},
      </if>
      <if test="status07 != null" >
        status07 = #{status07,jdbcType=VARCHAR},
      </if>
      <if test="hrTemp != null" >
        hr_temp = #{hrTemp,jdbcType=DECIMAL},
      </if>
      <if test="pressTraTemp != null" >
        press_tra_temp = #{pressTraTemp,jdbcType=DECIMAL},
      </if>
      <if test="pressTraVoltage != null" >
        press_tra_voltage = #{pressTraVoltage,jdbcType=DECIMAL},
      </if>
      <if test="nbiotVoltage != null" >
        nbiot_voltage = #{nbiotVoltage,jdbcType=DECIMAL},
      </if>
      <if test="status10 != null" >
        status10 = #{status10,jdbcType=VARCHAR},
      </if>
      <if test="status11 != null" >
        status11 = #{status11,jdbcType=VARCHAR},
      </if>
      <if test="status12 != null" >
        status12 = #{status12,jdbcType=VARCHAR},
      </if>
      <if test="status13 != null" >
        status13 = #{status13,jdbcType=VARCHAR},
      </if>
      <if test="status14 != null" >
        status14 = #{status14,jdbcType=VARCHAR},
      </if>
      <if test="status15 != null" >
        status15 = #{status15,jdbcType=VARCHAR},
      </if>
      <if test="status16 != null" >
        status16 = #{status16,jdbcType=VARCHAR},
      </if>
      <if test="angleOfInclination != null" >
        angle_of_inclination = #{angleOfInclination,jdbcType=DECIMAL},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="equipmentid != null" >
        equipmentid = #{equipmentid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.Equipmentinfolist" >
    update fce_equipmentinfolist
    set equipment_no = #{equipmentNo,jdbcType=VARCHAR},
      equipment_location = #{equipmentLocation,jdbcType=VARCHAR},
      pressure = #{pressure,jdbcType=DECIMAL},
      status00 = #{status00,jdbcType=VARCHAR},
      status01 = #{status01,jdbcType=VARCHAR},
      status02 = #{status02,jdbcType=VARCHAR},
      status03 = #{status03,jdbcType=VARCHAR},
      status04 = #{status04,jdbcType=VARCHAR},
      status05 = #{status05,jdbcType=VARCHAR},
      status06 = #{status06,jdbcType=VARCHAR},
      status07 = #{status07,jdbcType=VARCHAR},
      hr_temp = #{hrTemp,jdbcType=DECIMAL},
      press_tra_temp = #{pressTraTemp,jdbcType=DECIMAL},
      press_tra_voltage = #{pressTraVoltage,jdbcType=DECIMAL},
      nbiot_voltage = #{nbiotVoltage,jdbcType=DECIMAL},
      status10 = #{status10,jdbcType=VARCHAR},
      status11 = #{status11,jdbcType=VARCHAR},
      status12 = #{status12,jdbcType=VARCHAR},
      status13 = #{status13,jdbcType=VARCHAR},
      status14 = #{status14,jdbcType=VARCHAR},
      status15 = #{status15,jdbcType=VARCHAR},
      status16 = #{status16,jdbcType=VARCHAR},
      angle_of_inclination = #{angleOfInclination,jdbcType=DECIMAL},
      createdate = #{createdate,jdbcType=TIMESTAMP},
      flag = #{flag,jdbcType=INTEGER},
      equipmentid = #{equipmentid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>